body {
    background-image: url("image/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: rgb(182, 204, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
h1 {
   text-align:center;
   background-color: rgb(70, 67, 67);
}
h2 {
    text-align:center;
    background-color: rgb(70, 67, 67);
 }
 h3 {
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 32px;
 } 
.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(214, 153, 39, 0.3); 
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background-color: rgb(98, 99, 92);
}
.sign-up-form h1 {
color: rgb(68, 64, 2);
margin-bottom: 20px;
}
.input-box {
border-radius: 20px;
padding: 10px;
margin: 10px 0;
width: 80%;
border: 1px solid #999;
outline: none;
}
button {
color: rgb(56, 3, 3);
width: 65%;
padding: 10px;
border-radius: 20px;
font-size: 15px;
margin: 10px 0;
border: none;
outline: none; cursor: pointer;
}
.signup-btn {
background-color:rgb(165, 146, 216)
}
.facebook-btn {
background-color: rgba(4, 100, 160, 0.904); 
}
.or {
    background: rgb(98, 99, 92);
    width: 30px;
    margin: -19px auto 10px;
}
img {
    width: 100px;
    margin-top: -50px;
}

